@font-face{
	src: url("../fonts/Montserrat-VariableFont_wght.ttf");
	font-family: 'Montserrat';
}

*,
*:before,
*:after{
	box-sizing: border-box;
}


body{
	font-family: 'Montserrat';
	background-color: white;
	margin: 0;
	color:white;
}

.flex_row{
	display: flex;
	flex-direction: row;
}

.upper{
	text-transform: uppercase;
}

.cursor{
	cursor: pointer;
}

.container_1{
	width: 90%;
	margin: 0 auto;
}

.block_1{
	background-image: url(..//img/block-1.png);
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
	padding-bottom: 4%;;
}

nav{
	align-items: center;
	justify-content: space-between;
	padding-top: 4%;;
}

.nav_item{
	font-size: 1.25VW;
	text-transform: uppercase;
}

.block_1_text{
	text-align: center;
    font-size: 1.7VW;
    padding-top: 20%;
}

.block_1_name{
	font-size: 10.94VW;
	padding-top: 1%;
	padding-bottom: 12%;
}

.block_1_but_text{
	font-size: 1.25VW;
	padding-left: 15%;
}

.block_1_but img{
	padding-right: 4%;
	height: 4.8VW;
}

.block_1_but{
	height: 5.34VW;
    width: 28.5%;
    background-color: #fafafa;
    color: black;
    align-items: center;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.ss{
	width: 100%;
	margin: 0 auto;
	margin-top: 220px;
	margin-bottom: 130px;
	height: auto;
}
/* слайдер */
.slider img{
	
	max-width: 800px;
	width: 100%;
	margin-right: 50px;
	margin-left: 50px;
}
.slick-list{
    /* padding:0 10% 0 10%; */
}
/* .slick-slide img:hover {
	transition: transform .5s; 
	transform: scale(1.5);   
  } */
  .slider div {padding-bottom: 0;
height: 900px;}

  .pop{
	height: 700px;
	display: flex;
  }
  
  /* .slick-center img {
	transition: linear .1s  ;
	transform: translateY(20px);
	
	
  }  */
  .slick-slide img:{
	transition: all 500ms cubic-bezier(1.000, 0.255, 0.295, 1.650);  }
  .slick-slide img:hover {
	transition: all 500ms cubic-bezier(1.000, 0.255, 0.295, 1.650);transform: translateY(20px);
	width: 850px;

	/* transform: scale(1.1); */
	}
	.slick-prev ,.slick-arrow{
		background-color: black;
		color: black;
	}